name: ci

on: push

jobs:
  build_release:
    name: build and release
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Download msbuild 140 tools (2015)
        run: |
           curl -o BuildTools_Full.exe https://download.microsoft.com/download/E/E/D/EEDF18A8-4AED-4CE0-BEBE-70A83094FC5A/BuildTools_Full.exe

      - name: Install msbuild tools
        shell: cmd
        run: |
           BuildTools_Full.exe /quiet /norestart

      - name: Download Python 3.6
        run: |
          curl -o python-3.6.8.exe https://www.python.org/ftp/python/3.6.8/python-3.6.8-amd64.exe

      - name: Install Python 3.6
        shell: cmd
        run: |
          python-3.6.8.exe /quiet PrependPath=1 Include_test=0
          dir %LocalAppData%\Programs\Python
          
      - name: Prepare Python 3.6 venv
        shell: cmd
        run: |
          mkdir C:\venv
          %LocalAppData%\Programs\Python\Python36\python.exe -m venv c:\venv
          dir C:\venv
          
      - name: Install pip dependency
        shell: cmd
        working-directory: C:\venv
        run: |
          .\Scripts\pip3.exe install Sphinx==3.5.4
          
      - name: Download Python 3.9 source
        run: |
          curl -o C:\python.tar.xz https://www.python.org/ftp/python/3.9.21/Python-3.9.21.tar.xz

      - name: Extract Python 3.9 source directly into venv
        shell: cmd
        run: |
          "C:\Program Files\Git\usr\bin\tar.exe" -xf /c/python.tar.xz -C /c/venv --strip-components=1
          dir C:\venv

      - name: Patch Python 3.9 source
        run: |
          cmd.exe /C patch.bat

      - name: Build Python 3.9 from source
        run: |
          cmd.exe /C build.bat
          dir C:\venv\PCbuild\amd64
          dir C:\venv\PCbuild\amd64\en-us
  
      - name: Generate release tag
        shell: pwsh
        id: tag
        run: |
          "release_tag=UserBuild_$(date +"%Y.%m.%d_%H-%M")" >> $env:GITHUB_OUTPUT
          
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            C:/venv/PCbuild/amd64/en-us/*.exe
